body {
    /* background-image: url(images/cover.jpg);
    background-size: 100%;
    background-repeat: no-repeat; */
    margin: 0;
    height: 1000px;
}

.background {
    position: relative;
    width: 100%;
    z-index: -10;
}

.bg img {
    width: 100%;
}

.bg_title img {
    position: absolute;
    width: 36%;
    top: 24.5%;
    left: 4%;
}