body {
    margin: 0;
    height: 1000px;
}

.background {
    position: relative;
    width: 100%;
    z-index: 5;
}

.bg img {
    width: 100%;
}

.bg_title {
    position: absolute;
    width: 36%;
    top: 24.5%;
    left: 4%;
}

.bg_title img {
    width: 100%;
    margin-bottom: 10px;
}

.bg_title p {
    margin: 0;
    color: rgb(235, 235, 235);
    width: 100%;
    font-size: 1.2vw;
    margin-bottom: 15px;
}

.bg_buttons button {
    font-size: 1.3vw;
    padding: 2.5% 0;
    border-radius: 5px;
    border: none;
    position: relative;
    font-weight: bold;
}


.bg_buttons i {
    position: absolute;
    font-size: 150%;
}

.start_btn i {
    left: 20%;
}

.detail_btn i {
    left: 17%;
}

.bg_buttons .start_btn {
    width: 27%;
    padding-left: 7%;
    background-color: white;
}

.bg_buttons .detail_btn {
    width: 36%;
    padding-left: 8%;
    color: white;
    background-color: rgba(100, 100, 100, 0.7);
}

.start_btn:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.9);
}

.detail_btn:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.5);
}

.age_box {
    position: absolute;
    width: 6.5%;
    right: 0%;
    top: 61%;
    border-left: 0.3vw solid rgba(220, 220, 220, 0.9);
    background-color: rgba(100, 100, 100, 0.4);
}

.number_box {
    width: 37%;
    background-color: rgb(255, 196, 0);
    border-radius: 15%;
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 14%;
    text-align: center;
}