:root {
    --text-color: white;
    --background-color: black;
}

body {
    margin: 0;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

.logo img {
    position: absolute;
    width: 92.5px;
    height: 24px;
    padding-right: 23px;
    top: 22px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    height: 68px;
    position: fixed;
    width: 92%;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    left: 165px;
}

.nav_menu a {
    text-decoration: none;
    color: white;
    font-size: 13.5px;
}


.nav_menu li {
    padding-left: 20px;
}

.nav_menu li:hover {
    opacity: 0.7;
    transition-duration: 0.5s;
}

.my_menu {
    display: flex;
}

.my_menu button {
    width: 40px;
    height: 40px;
    padding: 1px 6px;
    margin-right: 5px;
    border: none;
    background: none;
}

.my_menu button i {
    font-size: 20px;
    color: white;
}

.my_menu button:hover {
    cursor: pointer;
}

.menu_btn {
    position: absolute;
    text-decoration: none;
    color: white;
    left: 130px;
    display: none;
    background: none;
    border: none;
}

.menu_btn_arrow {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    top: 66px;
    left: 191px;
    transform: rotate(180deg);
    display: none;
}

button.profile_btn {
    position: relative;
}

button.profile_btn .fa-caret-down {
    position: absolute;
    left: 35px;
    font-size: 15px;
    transition-duration: 0.8s;
}

button.profile_btn .fa-caret-down.active {
    rotate: 180deg;
}

.search_box {
    position: relative;
}

button.search_btn {
    transition-duration: 0.3s;
}

button.search_btn.active {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 250px;
    text-align: left;
}


button input {
    position: absolute;
    top: 13px;
    width: 180px;
    height: 15px;
    margin-left: 10px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

button input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search_text {
    display: none;
}

.search_text.active {
    display: inline;
}

.searchX {
    position: absolute;
    right: 0px;
    top: 2px;
    color: white;
    display: none;
}

.searchX.active {
    display: inline;
}

.alarm_box {
    position: relative;
    display: none;
}

.alarm_box.active {
    display: block;
}

.alarm_btn.active {
    scale: 1.2;
}

.alarm_menu {
    position: absolute;
    width: 400px;
    height: 550px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 3px solid rgba(255, 255, 255, 0.8);
    right: 8px;
    top: 38px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    /* flex-direction: column; */
}

.alarm_menu a {
    width: 100%;
    height: auto;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: flex;
}

.alarm_menu_contents {
    display: flex;
    padding: 14px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    width: 370px;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.alarm_menu_contents img {
    margin-right: 15px;
    border-radius: 4px;
}

.alarm_box .fa-caret-down {
    position: absolute;
    color: white;
    right: 20px;
    top: 44px;
    rotate: 180deg;
}


/* 창 너비가 좁아지면 재배치 */
@media screen and (max-width: 910px) {

    .nav_menu {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        top: 80px;
        left: 70px;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(124, 122, 122, 0.5);
        border-top: 2px solid rgba(255, 255, 255, 0.8);
    }

    .nav_menu a {
        color: rgba(255, 255, 255, 0.8);
    }

    .nav_menu li {
        padding: 10px;
    }

    .nav_menu li:hover {
        background-color: rgba(255, 255, 255, 0.05);
        cursor: pointer;
    }

    .menu_btn {
        display: block;
    }

    .nav_menu.active {
        display: block;
        transition: all 1s;
    }

    .menu_btn_arrow.active {
        display: block;
    }
}